{% extends "mentor/base.html" %}

{% block contenu_principal %}

    {% include 'mentor/section/slider.html' %}
    {% include 'mentor/section/quick_service.html' %}
    {% include 'mentor/section/about_sect.html' %}
    {% include 'mentor/section/stat.html' %}
    {% include 'mentor/section/why_use.html' %}
    {% include 'mentor/section/faq_home.html' %}
    {% include 'mentor/section/Feature.html' %}
    {% include 'mentor/section/actualite_sect_index.html' %}
    {% include 'mentor/section/club_sect_index.html' %}
    {% include 'mentor/section/testimonial.html' %}
    {% include 'mentor/section/les_acteurs.html' %}
   

{% endblock %}
